/**
 * @file styles.css
 * @author 0xChristopher
 * @brief This file contains the css for the CRM Website.
 */

/**
 * Table of Contents
 * 1. General
 * 2. Contacts
 * 3. Contact Form
 * 4. Header
 * 5. Main
 * 6. Footer
 * 7. Scrollbar
 * 8. Toggle and Pseudo Class Styles
 */

/************************************************************
 * 1. General
 *
 *
 ************************************************************/

*
{
    box-sizing: border-box;
}

html, body 
{
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #4c74a9;
}

.app--container
{
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.link
{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.page-mask
{
    display: none;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.error-page
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
}

/************************************************************
 * 2. Contacts
 *
 *
 ************************************************************/

.contacts--heading, .contacts--headers, .contacts--items, .contacts--buttons
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.contacts--heading, .contacts--buttons
{
    padding: 0.5rem;
}

.contacts--headers, .contacts--items
{
    width: 100%;
}

.contacts--id, .contacts--select
{
    width: 5%;
    padding: 0.25rem;
    border-top: 0.0625rem solid #323942;
    border-bottom: 0.0625rem solid #a7aeb7;
}

.contacts--name, .contacts--account-name, .contacts--title, 
.contacts--phone, .contacts--contact-owner
{
    width: 17%;
    padding: 0.25rem;
    font-weight: 700;
    font-size: 0.8rem;
    border-top: 0.0625rem solid #323942;
    border-right: 0.0625rem solid #323942;
    border-bottom: 0.0625rem solid #a7aeb7;
}

.contacts--options
{
    width: 5%;
    padding: 0.25rem;
    font-weight: 700;
    font-size: 0.8rem;
    border-top: 0.0625rem solid #323942;
    border-bottom: 0.0625rem solid #a7aeb7;
}

.contacts--id--borderless, .contacts--select--borderless, .contacts--options--borderless
{
    display: flex;
    width: 5%;
    padding: 0.25rem;
    text-align: center;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 0.0625rem solid #a7aeb7;
}

.contacts--name--borderless, .contacts--account-name--borderless, .contacts--title--borderless, 
.contacts--phone--borderless, .contacts--contact-owner--borderless
{
    display: flex;
    width: 17%;
    padding: 0.25rem;
    font-size: 0.8rem;
    align-items: center;
    background-color: white;
    border-bottom: 0.0625rem solid #a7aeb7;
}

/************************************************************
 * 3. Contact Form
 *
 *
 ************************************************************/

.contact-form-container
{
    display: none;
    position: absolute;
    top: 10.5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.contact-form
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 70vw;
    height: 70vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.contact-form--header
{
    margin-bottom: 1rem;
    border-bottom: 0.0625rem solid #323942;
}

.contact-form--header-text
{
    margin-bottom: 1rem;
    font-size: 1.25rem;
    text-align: center;
}

.contact-form--subheader
{
    margin-bottom: 0.75rem;
    padding: 0.25rem;
    background-color: #98a6b8;
    border-radius: 0.625rem;
}

.contact-form--form
{
    width: 100%;
}

.contact-form--label
{
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

.contact-form--input-field
{
    width: 100%;
    margin-bottom: 1rem;
}

.contact-form--input-field-checkbox
{
    margin-bottom: 1rem;
}

.contact-form--footer
{
    border-top: 0.0625rem solid #323942;
}

.contact-form--footer--buttons
{
    margin-top: 1rem;
}

/************************************************************
 * 4. Header
 *
 *
 ************************************************************/

.header
{
    display: flex;
    height: 10vh;
    padding: 1rem;
    background-color: #e0e0e0;
    color: black;
    align-items: center;
    border-bottom: 0.1625rem solid #246bc8;
}

.header--title
{
    font-weight: 700;
}

.header--navigation
{
    margin-right: auto;
}

.header--navigation--list
{
    display: flex;
    list-style-type: none;
}

.header--navigation--list--item
{
    margin-right: 1rem;
    font-weight: 300;
}

.header--welcome
{
    font-weight: 700;
}

/************************************************************
 * 5. Main (Main component sections)
 *
 *
 ************************************************************/

.main, .contacts
{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    overflow-y: scroll;
    background-image: linear-gradient(180deg, #4c74a9 0%, white 100%);
}

.main--container, .contacts--container
{
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border: 0.0625rem solid #a7aeb7;
    border-radius: 0.25rem;
}

.main--get-started
{
    padding: 1rem;
    font-weight: 700;
    color: #4c74a9;
}

.main--quick-look
{
    padding: 0.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.main--quick-look--container
{
    display: flex;
    padding: 0.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main--quick-look--item
{
    display: flex;
    padding: 1rem;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 0.0625rem solid black;
    border-radius: 0.25rem;
}

.main--quick-look--item--container
{
    padding: 1rem;
    width: 33%;
}

.main--quick-look--item--bar
{
    margin-right: 1rem;
    padding: 0.5rem;
    border-right: 0.0625rem solid #a7aeb7;
}

.main--quick-look--item--header
{
    margin-bottom: 1rem;
    font-weight: 700;
}

.main--quick-look--item--caption
{
    font-weight: 300;
    font-size: 0.8rem;
}

/************************************************************
 * 6. Footer
 *
 *
 ************************************************************/

.footer
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 10vh;
    background-color: #4c74a9;
    color: white;
    justify-content: center;
    align-items: center;
}

/************************************************************
 * 7. Scrollbar
 *
 *
 ************************************************************/

::-webkit-scrollbar 
{
    width: 10px;
}

::-webkit-scrollbar-track 
{
    background: #21222A;
}

::-webkit-scrollbar-thumb 
{
    background: #323942;
}

::-webkit-scrollbar-thumb:hover 
{
    background: #282D35;
}

/************************************************************
 * 8. Toggle and Pseudo Class Styles
 *
 *
 ************************************************************/

.lock-scroll
{
    overflow: hidden;
}

.show
{
    display: block;
}