/**
 * Table of Contents
 * 1. General
 * 2. Data Tables
 * 3. Forms
 * 4. Header
 * 5. Main
 * 6. Entry Details
 * 7. Dropdowns
 * 8. Footer
 * 9. Buttons
 * 10. Images
 * 11. Scrollbar
 * 12. Toggle and Pseudo Class Styles
 * 13. Animations
 */

/************************************************************
 * Variables
 *
 *
 ************************************************************/

// Global Colors
$primary-color: #4c74a9;
$secondary-color: #246bc8;
$background-color: #f1f1ee;
$background-color-navigation: #afcef6;
$border-color-light: #a7aeb7;
$border-color-dark: #323942;
$border-color-blue: #0047a5;
$scrollbar-track: #21222A;
$scrollbar-hover: #282D35;
$subheader-and-dropdown: #98a6b8;
$white: white;
$black: black;
$red: red;

// Fonts
$primary-font-size: 0.8rem;

// Borders
$primary-border-width: 0.0625rem;
$primary-border-radius: 0.25rem;
$secondary-border-radius: 0.625rem;
$header-border: 0.1625rem;

/************************************************************
 * Placeholders
 *
 *
 ************************************************************/

%header-text {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    text-align: center;
}

%container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(180deg, $primary-color 0%, $white 100%);
}

%container-content {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: $background-color;
    border: $primary-border-width solid $border-color-light;
    border-radius: $primary-border-radius;
}

%horizontal-format {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem;
}

/************************************************************
 * Mixins
 *
 *
 ************************************************************/

@mixin text($margin-top: 0, $margin-bottom: 0, $font-size: $primary-font-size, $text-align: left) {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    font-size: $font-size;
    text-align: $text-align;
}

@mixin tableCell($justify-content: center, $cell-width: auto, $bg-color: none, $border-top: none) {
    display: flex;
    padding: 0.25rem;
    align-items: center;
    justify-content: $justify-content;
    width: $cell-width;
    font-size: $primary-font-size;
    background-color: $bg-color;
    border-top: $border-top;
    border-bottom: $primary-border-width solid $border-color-light;
}

@mixin image($margin-right: 0.25rem, $height: 3rem, $width: 3rem) {
    margin-right: $margin-right;
    height: $height;
    width: $width;
}

/************************************************************
 * 1. General
 *
 *
 ************************************************************/

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $primary-color;
}

.app-container {
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.link {
    display: flex;
    align-items: center;
    color: $primary-color;
    text-decoration: none;
}

.page-mask {
    display: none;
    background-color: $black;
    opacity: 0.5;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    animation: fadeInHalf 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: $white;
    color: $black;
}

.loading-container {
    position: relative;
}

.loading-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-text {
    @include text(0.5rem, none, none, none);
}

.input-field {
    @include text(null, 1rem, 0.85rem, null);
    width: 100%;
}

/************************************************************
* 2. Data Tables
*
*
************************************************************/

.table-container {
    @extend %container-content;
}
    
.table {
    margin: 0;
    width: 100%;
}

.table-heading {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    align-items: center;
}

.table-heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table-heading-text {
    @include text(null, null, 1rem, null);
}

.table-text {
    @include text(1rem, 0.4rem, $primary-font-size, null)
}

.table-headers, .table-items {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.table-data {
    position: relative;
    display: flex;
    padding: 0.25rem;
    font-weight: 700;
    font-size: $primary-font-size;
    align-items: center;
    border-top: $primary-border-width solid $border-color-dark;
    border-right: $primary-border-width solid $border-color-dark;
    border-bottom: $primary-border-width solid $border-color-light;
}

.table-cell-end {
    @include tableCell(center, none, none, $primary-border-width solid $border-color-dark);

    &.table-cell-2_5p {
        width: 2.5rem;
    }

    &.table-cell-5p {
        width: 5rem;
    }
}

.table-cell-borderless {
    @include tableCell(none, null, $white, none);

    &.table-cell-2_5p {
        width: 2.5rem;
    }

    &.table-cell-5p {
        width: 5rem;
    }

    &.table-cell-fill {
        flex: 1;
    }
}

.table-cell-borderless-centered {
    @include tableCell(center, null, $white, none);

    &.table-cell-2_5p {
        width: 2.5rem;
    }

    &.table-cell-5p {
        width: 5rem;
    }
}

.table-cell-content {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-overflow-container {
    overflow-x: auto;
}

.resizer {
    position: absolute;
    top: 0;
    right: -0.25rem;
    bottom: 0;
    width: 0.5rem;
    cursor: col-resize;
    user-select: none;
    z-index: 1;
}

.resizer:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.resizing {
    cursor: col-resize;
    user-select: none;
}

/************************************************************
* 3. Forms
*
*
************************************************************/

.form-container {
    display: none;
    position: absolute;
    top: 7rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    animation: fadeInFull 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 2;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 70vw;
    height: 70vh;
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.form-header {
    margin-bottom: 1rem;
    border-bottom: $primary-border-width solid $border-color-dark;
}

.form-header-text {
    @extend %header-text;
}

.form-text {
    @include text(null, 1rem, 0.85rem, null);
}

.subheader {
    margin-bottom: 0.75rem;
    padding: 0.25rem;
    background-color: $subheader-and-dropdown;
    border-radius: $secondary-border-radius;
}

.form-label {
    @include text(null, 0.25rem, 0.75rem, null);
}

.input-field-checkbox {
    margin-bottom: 1rem;
}

.text-centered {
    font-size: 0.75rem;
    margin-top: 1rem;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.footer-border {
    border-top: $primary-border-width solid $border-color-dark;
}

.footer-container {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.error {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    color: $red;
}

/************************************************************
* 4. Header
*
*
************************************************************/

.header {
    display: flex;
    height: 15vh;
    background-color: $background-color;
    color: $black;
    align-items: center;
    border-bottom: $header-border solid $secondary-color;
}

.header-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    padding-bottom: 1rem;
    font-weight: 700;
}

.header-navigation-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header-navigation-bar {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0;
}

.header-navigation-upper {
    flex: 1;
}

.header-navigation-lower {
    display: flex;
}

.header-navigation-list {
    display: flex;
    margin-top: auto;
    margin-bottom: -0.1625rem;
    list-style-type: none;
}

.header-navigation-list-item {
    padding-top: 1vh;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 2.5vh;
    font-weight: 300;
    border-top: $header-border solid $background-color;
    border-bottom: $header-border solid $secondary-color;
    transition: background-color 0.5s, border-top 0.5s, border-bottom 0.5s;
}

.header-navigation-list-item:hover {
    background-color: $background-color-navigation;
    border-top: $header-border solid $background-color-navigation;
    border-bottom: $header-border solid $border-color-blue;
}

.header-navigation-list-item-active {
    background-color: $background-color-navigation;
    border-top: $header-border solid $border-color-blue;
    transition: border-top 0.5s, border-bottom 0.5s;
}

.header-navigation-list-item-active:hover {
    background-color: $background-color-navigation;
    border-top: $header-border solid $border-color-blue;
}

.header-welcome {
    margin-right: 0.5rem;
    font-weight: 700;
}

.header-welcome-container {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
}

.header-logout-button-container {
    padding: 0.5rem;
}

/************************************************************
* 5. Main (Main component sections)
*
*
************************************************************/

.main, .collections, .entry-details, .loading {
    @extend %container;
    height: 85vh;
    overflow-y: scroll;
}

.login {
    @extend %container;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    width: 35vw;
    background-color: $background-color;
    border: $primary-border-width solid $border-color-light;
    border-radius: $primary-border-radius;
}

.login-form {
    width: 100%;
}

.login-label {
    @include text(none, 0.25rem, 0.75rem, none);
}

.login-text-centered {
    @include text(1rem, none, 0.75rem, center);
    text-decoration: underline;
    cursor: pointer;
}

.login-header-text {
    @extend %header-text;
}

.login-footer-container {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.login-error {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    color: $red;
}

.main--container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: $background-color;
    border: $primary-border-width solid $border-color-light;
    border-radius: $primary-border-radius;
}

.main--get-started {
    padding: 1rem;
    font-weight: 700;
    color: $primary-color;
}

.main--quick-look {
    padding: 0.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.main--quick-look--container {
    display: flex;
    padding: 0.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main--quick-look--item {
    display: flex;
    padding: 1rem;
    background-color: $white;
    color: $black;
    text-decoration: none;
    border: $primary-border-width solid $black;
    border-radius: $primary-border-radius;
}

.main--quick-look--item--container {
    display: flex;
    flex-grow: 1;
    padding: 1rem;
    width: 33%;
}

.main--quick-look--item--bar {
    margin-right: 1rem;
    padding: 0.5rem;
    border-right: $primary-border-width solid $border-color-light;
}

.main--quick-look--item--header {
    margin-bottom: 1rem;
    font-weight: 700;
}

.main--quick-look--item--caption {
    font-weight: 300;
    font-size: $primary-font-size;
}

.main--component--container {
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.main--component {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0.5rem;
    padding: 1rem;
    background-color: $background-color;
    border: $primary-border-width solid $border-color-light;
    border-radius: $primary-border-radius;
}

.main--component--header, .main--quick-look--icon--container {
    display: flex;
    align-items: center;
}

.main-component-content {
    @extend %container-content;
}

/************************************************************
* 6. Entry Details
*
*
************************************************************/

.entry-details--container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.entry-details--main {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: $background-color;
    border: $primary-border-width solid $border-color-light;
    border-radius: $primary-border-radius;
}

.entry-details--main-upper {
    @extend %horizontal-format;
    background-color: $border-color-light;
}

.entry-details--main-lower {
    @extend %horizontal-format;
}

.entry-details--main-lower--element {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.entry-details--main-graphic {
    padding: 0.75rem;
}

.entry-details--panel-container {
    display: flex;
}

.entry-details--left-panel {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.75rem;
    width: 65%;
    background-color: $background-color;
    border: $primary-border-width solid $border-color-light;
    border-radius: $primary-border-radius;
}

.entry-details--left-panel--tabs {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-bottom: $primary-border-width solid $border-color-light;
    border-radius: $primary-border-radius;
}

.entry-details--left-panel--info-container {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    flex: 1;
}

.entry-details--left-panel--info-col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.entry-details--left-panel--info {
    display: flex;
    flex-direction: column;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.entry-details--right-panel {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    width: 35%;
    background-color: $background-color;
    border: $primary-border-width solid $border-color-light;
    border-radius: $primary-border-radius;
}

.entry-details--header {
    display: flex;
    flex-direction: column;
}

.entry-details--header-text {
    display: block;
    font-size: $primary-font-size;
}

.entry-details--header-value {
    display: block;
    font-size: 0.9rem;
}

.entry-details--text {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    font-size: $primary-font-size;
}

.entry-details--value {
    display: block;
    height: 1.75rem;
    font-size: 0.9rem;
    border-bottom: $primary-border-width solid $border-color-light;
    border-radius: $primary-border-radius;
}

.entry-details--value-borderless {
    display: block;
    height: 1.75rem;
    font-size: 0.9rem;
}

/************************************************************
* 7. Dropdowns
*
*
************************************************************/

.dropdown-button--container {
    text-align: left;
    border: $primary-border-width solid $border-color-light;
    position: relative;
    border-radius: $primary-border-radius;
}

.dropdown-menu--container {
    text-align: left;
    position: relative;
}

.dropdown-button--input {
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.85rem;
    user-select: none;
    cursor: pointer;
}

.dropdown-button--menu, .dropdown-menu {
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    transform: translateY(0.25rem) translateX(0.25rem);
    width: auto;
    border: $primary-border-width solid $border-color-light;
    border-radius: $primary-border-radius;
    overflow: auto;
    white-space: nowrap;
    max-height: 10rem;
    background-color: $white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    animation: fadeInFull 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.dropdown-button--item {
    padding: 0.5rem;
    cursor: pointer;
}

.dropdown-menu--item {
    padding: 0.5rem;
    cursor: pointer;
    color: $black;
}

.dropdown-button--item.selected {
    color: $white;
    background-color: $secondary-color;
}

.dropdown-button--item:hover, .dropdown-menu--item:hover {
    background-color: $subheader-and-dropdown;
}

.dropdown-multi--tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.dropdown-multi--tags--item {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    border: $primary-border-width solid $border-color-light;
    border-radius: $primary-border-radius;
}

.dropdown-multi--tags--close {
    display: flex;
    align-items: center;
}

.dropdown-search--box {
    padding: 0.25rem;
    background-color: $subheader-and-dropdown;
}

.dropdown-search--box--input {
    width: 100%;
    padding: 0.25rem;
    border: $primary-border-width solid $border-color-light;
    border-radius: $primary-border-radius;
}

/************************************************************
* 8. Footer
*
*
************************************************************/

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    flex: 1;
    padding: 1rem;
    background-color: $primary-color;
    color: $white;
    justify-content: center;
    align-items: center;
}

/************************************************************
* 9. Buttons
*
*
************************************************************/

button {
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: $white;
    background-color: $secondary-color;
    border: 0.03125rem solid $secondary-color;
    cursor: pointer;
}

.secondary-button {
    color: $secondary-color;
    background-color: $white;
}

.button--container {
    border: 0.03125rem solid $secondary-color;
    border-radius: $primary-border-radius;
}

.action-bar {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    padding: 0.5rem;
}

/************************************************************
* 10. Images
*
*
************************************************************/

.loading-image {
    @include image(none, 3rem, 3rem);
    animation: rotate 2s linear infinite;
}

.quick-look--icon {
    @include image(none, 3rem, 3rem);
}

.quick-look--component--icon {
    @include image(0.5rem, 1.5rem, 1.5rem);
}

.table-heading-icon, .data-entry--icon, .heading-icon {
    @include image(0.25rem, 3rem, 3rem);
}

.table-edit-icon {
    @include image(none, 1.25rem, 1.25rem);
    cursor: pointer;
}

.title--logo {
    @include image(none, 5rem, 5rem);
}

/************************************************************
* 11. Scrollbar
*
*
************************************************************/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $scrollbar-track;
}

::-webkit-scrollbar-thumb {
    background: $border-color-dark;
}

::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-hover;
}

/************************************************************
* 12. Toggle and Pseudo Class Styles
*
*
************************************************************/

.lock-scroll {
    overflow: hidden;
}

.show {
    display: block;
}

.required {
    padding-right: 0.15rem;
    color: $red;
    cursor: help;
}

/************************************************************
* 13. Animations
*
*
************************************************************/

@keyframes fadeInFull {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInHalf {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}